.st0{fill:#7092E6;}
	.st1{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	.st2{fill:#FDF400;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
	.st4{fill:url(#SVGID_1_);}
	.st5{fill:#302127;}
	.st6{fill:#DB251A;}
	.st7{fill:#E15E4A;}
	.st8{fill:#D92820;}
  .st9{fill:#FFFFFF;}
  .st10{fill:#EEEFE7;}
	.st11{fill:#67594B;}
	.st12{fill:#00040A;}
	.st13{fill:#D3FFF9;}
  
  body{
    background-color: #3d3d3d;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    margin:0;
    padding:0;
}
svg{
    width: 500px;
    margin-top: 40px;
    margin-left: 50px;
  
    transform-origin: 50% 50%;
    transition: 0.4s;
}
svg:hover{
  transform: scaleX(1.1);
}
#hand{
 transform-origin: 17px 130px;
  animation: hello 0.3s infinite alternate-reverse;
}


#joint{
  z-index: 100;
}

#joint{
  opacity: 0;
  transition: opacity 200ms;
}
.eyes{
  transition: fill 200ms;
}


@keyframes hello{
 100%{
  
  transform:translateY(10px);
 }
}


model-viewer :host{
  width: 800px;
  height: 500px;
} 

@media only screen and (max-width: 1100px){
  svg{
    width: 400px;
  }
}

